@font-face {
    font-family: cream;
    src: url(../assets/fonts/cream.otf);
}
@font-face {
    font-family: caroline;
    src: url(../assets/fonts/caroline.otf);
}
@font-face {
    font-family: Dunkin;
    src: url(../assets/fonts/Dunkin.otf);
}
@font-face {
    font-family: DESIGNER;
    src: url(../assets/fonts/DESIGNER.otf);
}
@font-face {
    font-family: Saphira;
    src: url(../assets/fonts/Saphira.otf);
}
@font-face {
    font-family: Rollade;
    src: url(../assets/fonts/Rollade.otf);
}

@font-face {
    font-family: Insanibu;
    src: url(../assets/fonts/Insanibu.ttf);
}

@font-face {
    font-family: Lanterosy;
    src: url(../assets/fonts/Lanterosy.ttf);
}